form {
	fieldset {
		div {
			margin-bottom: 30px;
			label {
				text-align: right;
				align-self: center;
				padding-right: 10px;
				font-size: 20px;
			}
			input {
				height: 35px;
			}
		}
	}
}
