<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
        rel="stylesheet"
        href="/css/style.css"
    />
    <title>Menu</title>
</head>
<body>
    <header>
        <h1>Eventos!</h1>
        <nav>
            <a href="/logout">Sair</a>
        </nav>
        <p>Seja bem vindo, <%= usuarioParams.nome%></p>
    </header>
    <main>
        <nav>
            <ul>
                <li>
                    <a href="/cadUsuario">Cadastro de Usuario</a>
                </li>
            </ul>
            <ul>
                <li>
                    <a href="/cadEvento">Cadastro de Eventos</a>
                </li>
            </ul>
            <ul>
                <li>
                    <a href="/listaEventos">Lista de Eventos</a>
                </li>
            </ul>
        </nav>
    </main>
</body>
</html>