* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	padding: 50px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h1,
h2,
h3 {
	text-align: center;
	color: purple;
}

a {
	color: #00b7ff;
}
